* {
    margin: .5;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Trade Gothic', sans-serif;
}

body {
    background-color: #263b61;

  }

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home .home-content {
    max-width: 50rem;
}

.home-content h1 {
    color: white;
    font-size: 4rem;
    font-weight: 700;
    line-height: .2;
    margin-bottom: .5rem;
}